.blog .primary .date {
	/* display:block;
	margin-top:-15px;
	margin-bottom:15px; */
	font-style: oblique;
	font-weight: 500;
	line-height: 1;
	color: #777;
	font-size: small;
}

.secondary .blog-title small {
  font-size: 12px;
}
.secondary .blog-content {
  border-bottom: 1px dotted #DDDDDD;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.secondary .blog-content .btn.more {
	margin-top:10px;
}
.secondary .blog-content .btn {
	display:none;
}

.primary .module-content img{
	max-width: 100%;  
	height: fit-content !important;
}