:root {
  --bs-font-custom: Arial, Helvetica, sans-serif;
  --bs-body-font-family: var(--bs-font-custom);
}

.masthead {
  background: #0a77bd url("../../../base/images/bg.png");
  padding: 0 !important;
}

.account-masthead {
  min-height: 30px;
  color: #fff;
  background: #00254c url("../../../base/images/bg.png");
}

.masthead .main-navbar .dropdown a {
  padding: 0.6rem 0.9rem;
  color: #fff;
  text-decoration: none;
}

.masthead .main-navbar .dropdown ul {
  padding: 0;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .masthead .main-navbar .dropdown ul {
    margin-top: 0;
  }
}

.masthead .main-navbar .dropdown {
  display: unset;
}

.masthead .main-navbar .dropdown li a:hover {
  color: #ffffff;
  border-radius: 0.3rem;
  background-color: #003647 !important;
}

.masthead .main-navbar .dropdown li a {
  color: #000000;
  padding: 0.6rem 0.9rem;
  background-color: #fff !important;
  white-space: nowrap;
  display: block;
}

.masthead .main-navbar .dropdown ul li {
  margin-right: 0;
}

.ckan-footer-logo-custom {
  max-height: 60px;
  margin-bottom: 10px;
  max-width: 100%;
}

.stats-image>img {
  width: 450px;
}

.button-login-sso {
  border-radius: 5px !important;
  height: 40px;
  padding: 10px 12px;
  color: white;
}

.another-account {
  padding-bottom: 15px;
}

.form-check-maintenance-mode {
  padding-left: 0;
}

.check-maintenance-mode {
  width: 4em !important;
  height: 2em;
  margin-top: 0px;
  margin-left: 0px !important;
  float: none !important;
  vertical-align: middle;
}

.check-maintenance-mode:checked {
  background-color: #d43f3a;
  border-color: #d43f3a;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.advance-config .dropdown-menu>li>a:hover,
.advance-config .dropdown-menu>li>a:focus {
  font-weight: bold;
  background: #efefef;
}

.advance-config .dropdown-menu>.active>a,
.advance-config .dropdown-menu>.active>a:hover,
.advance-config .dropdown-menu>.active>a:focus {
  font-weight: bold;
  background: #efefef;
  color: black;
}

.advance-config .dropdown-menu>li>a {
  padding: 10px 15px !important;
}

.dropdown-config:focus,
.dropdown-config:active,
.dropdown-config:hover {
  text-decoration: none;
}

.dropdown-config {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
}

.maintenance {
  height: 100vh;
  background-image: url("/images/maintenance_bg.png");
  background-size: cover;
}

.maintenance .error-template {
  text-align: center;
}

.schedule-info-block {
  display: block;
  font-size: 11px;
  color: #6e6e6e;
  line-height: 1.3;
  margin-bottom: 15px;
  margin-top: 15px;
}

#status-running {
  font-size: 11px;
  color: #6e6e6e;
  margin-bottom: 15px;
  margin-top: 15px;
}

.main {
  min-height: calc(100vh - 255px);
}