.homepage .hero {
    background: #fff;
}

.hero {
    padding-bottom: 0px !important;
}

.site-header {
    height: 70vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #113355;
    color: #FFFFFF;
}

.site-header .headline {
    margin-top: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    font-size: 48px;
    color: black;
    color: #f7ebeb;
    background-color: rgba(25, 43, 55, 0.66);
    width: auto;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    max-width: 70%;
}

.homepage .banner-search {
    color: #fff;
    border: unset;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
}

.homepage .banner-search .search-form {
    border: unset;
    margin-bottom: 0;
    padding-bottom: 10px;
}

/* tiêu đề ở trang chủ */
.section-title h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 25px;
    color: #00568d;
}

.section-title .bar {
    height: 5px;
    width: 90px;
    background: #cdf1d8;
    margin: 20px auto;
    position: relative;
    border-radius: 30px;
}

.section-title .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2.7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #165cf3;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(88px);
        transform: translateX(88px);
    }
}

@keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(88px);
        transform: translateX(88px);
    }
}

/*  */
.carousel-inner {
    margin: auto;
}

.carousel-control-next,
.carousel-control-prev {
    width: 4%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-group-home {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carousel img {
    max-height: 100%;
    max-width: 100%;
    position: inherit;
    margin: auto;
}

.carousel .carousel-item {
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

.single-why-choose-us .displayName {
    text-align: -webkit-center;
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}



/*  */
.single-why-choose-us {
    border: 1px solid #dfdfdf;
    padding: 15px 15px;
    border-radius: 5px;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
    box-shadow: 0 0 15px rgba(56, 46, 46, 0.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 30px;
}

.single-why-choose-us .icon {
    color: #44a7ce;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-why-choose-us .icon i::before {
    font-size: 60px;
}

.single-why-choose-us h3 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-why-choose-us::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    background: linear-gradient(135deg, #73caec 0%, #378ddd 100%);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-why-choose-us p {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 17px;
}

.single-why-choose-us:hover {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
    border-color: transparent;
}

.single-why-choose-us:hover::before {
    opacity: 1;
    visibility: visible;
}

.single-why-choose-us:hover .icon {
    color: #ffffff;
}

.single-why-choose-us:hover h3,
.single-why-choose-us:hover p,
.single-why-choose-us:hover h3 a {
    color: #ffffff;
}


/* Biểu đồ */
.module-graph {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 30px;
}

.module-graph .panel-heading {
    background-color: white;
    color: #00568d;
    border-color: white;
    font-size: 14pt;
    font-weight: bold;
}

.module-graph .panel-body {
    padding: 0px 15px 15px 15px;
}

canvas {
    height: 300px !important;
}

.carousel-wrap {

    /* width: 94%; */
    position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav>button {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 30px;
    color: #44a7ce;
}

.owl-nav .owl-prev {
    left: 2px;
}

.owl-nav .owl-next {
    right: 2px;
}